<div class="wrapper">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eum perspiciatis hic at culpa, mollitia illo beatae, distinctio numquam facilis cumque dolorem saepe ut voluptatem ipsam pariatur suscipit reprehenderit illum veritatis nisi nulla dignissimos. Veritatis voluptatibus quis magni! Temporibus earum libero numquam facilis similique laudantium aspernatur iste inventore, eos odio minus iusto, exercitationem nisi. Cum sunt quo veritatis, inventore eligendi ratione sit, soluta porro deleniti nostrum sint labore et numquam adipisci fuga rem alias similique tenetur. Dolorem repellendus consequuntur corrupti.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo voluptatum officia ipsam sapiente! Quisquam praesentium cupiditate nesciunt saepe id iusto, voluptatem molestias voluptatibus tenetur, dolorem magni adipisci reprehenderit incidunt?
    </div>
</div>