<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Clone</title>
        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/howler.min.js"></script>
        <script src="https://kit.fontawesome.com/dac0761cf6.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
