<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Clone</title>
        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/howler.min.js"></script>
        <link href="/fonts/all.min.css" rel="stylesheet">
        <link href="/roboto.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
