<div id='playerControls'>
    <i id='prevSong' class="fas fa-arrow-circle-left"></i>
    <i id="togglePlayPause" class="fas fa-play-circle"></i>
    <i id='nextSong' class="fas fa-arrow-circle-right"></i>
</div>