<nav id="sidenav">
    <a href="/home" class="sidenav-e" id="home-link">home</a>
    <a href="/browse" class="sidenav-e" id='browse-link'>browse</a>
    <a href="#" class="sidenav-e" id='radio-link'>radio</a>


    <img id="albumCover" src="/Pictures/albumCover.jpg" alt="">
</nav>