<nav id="sidenav">
    <a href="#" class="sidenav-e" id="home">home</a>
    <a href="#" class="sidenav-e" id="browse">browse</a>
    <a href="#" class="sidenav-e" id="radio">radio</a>


    <img id="albumCover" src="/Pictures/albumCover.jpg" alt="">
</nav>