<%- include("partials/header") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<div class="main"><%- include("partials/searchBar") %>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, similique in maiores itaque aliquid doloremque impedit unde natus repudiandae iusto, dicta nam consectetur at? Iste distinctio quisquam quis quibusdam odit?</div>
<%- include("partials/footer") %>