<%- include("partials/header") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<div id="main"><%- include("partials/searchBar") %><div id='songs'></div></div>
<%- include("partials/footer") %>