body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.songResult {
    width: max-content;
}

.songResult:hover {
    background-color: #444;
    color: red;
}
.songResults {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

#sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* overflow-y: scroll; */
}

#sidenav a {
    padding: 6px 8px 6px 16px;
    color: grey;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
}

#sidenav a:hover {
    background-color: #444;
    color: red;
} 

#main {
    padding-left: 160px;
    color: grey;
}

#albumCover {
    max-width: 100%;
    position: absolute;
    bottom: 5%;
}

#playerControls {
    display: block;
    position: fixed;
    left: 50%;
    bottom:0;
    width: 200px;
    font-size: 50px;
}


hr {
    margin-left: 16px;
    margin-right: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

.wrapper > div {
    background-color: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background-color: #ddd;
}
